<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"

       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:component-scan base-package="com.vito16.dubbo"/>

    <context:annotation-config/>

    <dubbo:application name="dubboTest"/>

    <dubbo:registry protocol="zookeeper" address="192.168.45.10:2181"
                    file="/home/vito/dubbo/dubbo-biz/dubbo.cache" register="true" />

    <!-- expose this service through dubbo protocol, through port 20880 ProtocolConfig -->
    <dubbo:protocol name="dubbo" port="20880"
                    threads="200" />

    <dubbo:monitor protocol="registry" />

    <dubbo:service interface="com.vito16.dubbo.service.UserService" ref="userService"></dubbo:service>


</beans>